body{
    font-family: 'Didact Gothic', sans-serif;
}

trix-editor {
	min-height: 400px;
}

.bg-danger .navbar-brand{
    color:white;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    &:hover{
        color:white;
    }
}
